form {
  color: white;
  background: rgb(5, 24, 5);
  border-radius: 25px;
  padding: 20px;
  width: 500px;
  height: 300px;
}

h2 {
  color: chocolate;
  font-family: "ltim", cursive;
}
.button{
  background-color: orange;
  border-radius: 50px;
}
